html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.loveveryGreen {
  background-color: #4edbc9 !important;
}

.gold {
  color: gold;
}

::marker {
  color: #4edbc9;
}

.border-right {
  border-right: 1px solid lightgray;
  padding-right: 20px;
}

.breadcrumbs {
  margin-left: 80px;
}
