.inputContainer {
  margin-top: 10px;
  align-items: self-end;
  max-height: 75px;
}

.input {
  width: 35%;
  margin-right: 5px;
}

.guarantees {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}